.change-password-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
  }
  
  .change-password-content {
    background-color: #fff;
    padding: 30px;
    width: 700px;
    height: 360px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .change-password-content h2 {
    text-align: left;
    font-size: 24px;
  }
  
  .change-password-content hr {
    margin: 0;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #ccc;
  }
  
  .form-up-group {
    margin-bottom: 20px;
  }
  
  .form-up-group label {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
  }
  
  .current-password-display {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    color: #333;
    font-size: 16px;
  }
  
  .form-up-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  
  .form-actions button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Back button */
  .form-actions button:first-child {
    background-color: #ccc;
    color: white;
  }

  .form-actions button:first-child:hover {
    transform: scale(1.02);
    background-color: #b3b3b3;
  }

  /* Save button */
  .form-actions button:last-child {
    background-color: #f8c390;
    color: white;
  }

  .form-actions button:last-child:hover {
    transform: scale(1.02);
    background-color: #f2b67b;
  }

  .close-cp-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
  }
