.sprint-board {
  padding: 20px 20px 20px 20px;
  background-color: #f6d8a8e3;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 85vh;
  margin-top: 122px;
  margin-left: 20px;
  margin-right: 20px;
}

.sprint-board__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sprint-bubble {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.sprint-bubble:hover {
  transform: scale(1.006);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.sprint-bubble__info {
  flex-grow: 1;
}

.sprint-bubble__name {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.sprint-bubble__status-tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}

.sprint-bubble__actions {
  display: flex;
  gap: 5px;
}

.sprint-bubble__actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5c5c5c;
  color: white;
  transition: background-color 0.2s;
  margin-right: 10px;
}

.sprint-bubble__actions button:last-child {
  background-color: #f44336;
}

.sprint-bubble__actions button:hover:enabled {
  opacity: 0.9;
}

.sprint-bubble__actions button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}
